.direct-cost-mask, l.ever-indirect-cost-mask, .revenue-mask {
  width: 30px;
}

.main-heading {
  text-decoration: underline;
  margin-bottom: 20px;
}

.label-direct-cost {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
  transform: translate(-60px, 23px);
}

.label-indirect-cost {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
  transform: translate(-60px, 23px);
}

.label-revenue {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
  transform: translate(-60px, 23px);
}

.result {
  border: 4px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
}

.result-heading {
  text-decoration: underline;
  margin-bottom: 10px;
}

.text-field-container {
  /* padding-top: 10px;
  display: flex;
  flex-direction: column; */
  margin-bottom: 10px;
}

.text-field-direct-cost, .text-field-indirect-cost, .text-field-revenue {
  left: 30px;
}

.text-field-direct-cost:focus + .label-direct-cost {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-60px, 6px);
}

.calc-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 100%;
  width: 80%;
}